body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.title {
  background-color: darkgreen;
  text-align: left;
  color: white;

}

.containerImage {
  display: flex;
  width: 100%;
  border: 3px solid #73ad21;
  padding: 0 10px 10px 0;
}

  .dropdown-content {
    display: block;
  }
.dropbtn {
  display: none;
  border: 1px solid white;
}
  .navbar a {
    text-align: left;
    border-bottom: 1px solid white;
  }


  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    flex-direction: column;
    background-color: darkgreen;
    display: flex;
  }
  
  .navbar a {
    float: left;
    font-size: 14px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  


  
.paragraph{
  padding: 5px 10px 10px 5px;
  
}

.facilitiesList {
  ul {
    list-style-type: square;

  }

}
  
  .paragraphHome {
    font-size: 24px;
    font-family: Arial;
  }
  .footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

 .playstationImage {
 float: left;
 padding: 0 10px 10px 0;
 }

.lrorderedlist {
  list-style-type: upper-roman;
}

.footer {
  border-top: 1px solid white;
  text-align: left;
  margin: 20px 10px 10px 3px;
  font-size: 0.8em;
}


.rightfloatbus{
  float: right;
  width: 200px;
  height: auto;
}
.rightfloatcom{
  float: right;
  width: 300px;
  height: auto;
}
.rightfloatfind{
  float: right;
  width: 400px;
  height: auto;
}